@font-face {
  font-family: FiraCode;
  src: url("https://github.com/neetcapital/remix-dark-purple/blob/579219c4e816adf0da0d31a568602d46fa451251/FiraCode-Light.ttf") format('truetype');
}

body {
  font-size: 1rem !important;
  color: #D7DBE0;
  background-color: #030D22 !important;
}

:root {
  --primary: #FF2592 !important;
}

.text-info {
  color: #11c306!important;
}

.ace-chaos .ace_marker-layer .ace_active-line {
    background: #1F1F41;
}

.bg-light {
  background-color: #0A052C !important;
}

#side-panel > section.plugin-manager {
  background: #030D22 !important;
}

.ace-editor {
  font-family: "FiraCode", 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace !important;
}

.nav-tabs .nav-link {
    background: #131033 !important;
    border-radius: 6px 6px 0 0  !important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: #241f5c  !important;  
}

.ace-chaos .ace-gutter {
  background: #030D22  !important;
  color: #e300bd !important;
}

.ace-chaos .ace_gutter-cell.ace_warning {
  background: none !important;
  color: #fc0 !important;
}

.ace-chaos {
    background: #030D22 !important;
    color: #D7DBE0 !important;
}

.ace-chaos .ace_marker-layer .ace_selection {
    background: #2D5672 !important;
    border-radius: 2px !important;
}

.ace_marker-layer .ace_selected-word {
    background: #482d72 !important;
    border-radius: 2px !important;
}

.ace-chaos .ace_marker-layer .ace_bracket {
    margin: -1px 0 0 -2px !important;
    border: 2px solid #FF32DD !important;
    padding: 5px !important;
}

.ace-chaos .ace_string {
    color: #FF32DD !important;
}

.ace-chaos .ace_variable {
    color: #7FDBCA !important;
}

.ace-chaos .ace_constant.ace_language {
    color: #ffeb3b !important;
}

.ace-chaos .ace_constant.ace_numeric {
    color: #F78C6C !important;
}

.ace-chaos .ace_type {
    color: #C792EA !important;
}

.ace-chaos .ace_function {
    color: #82AAFF !important;
}

.ace-chaos .ace_support.ace_function {
    color: #82AAFF !important;
}

.ace-chaos .ace_comment {
    color: #637766 !important;
    font-style: normal !important;
}

.ace-chaos .ace_keyword.ace_operator {
    color: #C792EA !important;
}

.ace-chaos .ace_keyword {
    color: #C792EA !important;
}

#side-panel {
  min-width: 250px !important;
  width: 250px !important;
}

.custom-select {
  background-color: #482d72 !important;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem !important;
  font-family: inherit !important;
  font-weight: 400 !important;
  line-height: 1.1 !important;
  color: #D7DBE0 !important;
}

*::-webkit-scrollbar-thumb {
    background-color: #451f85 !important;
    border-radius: 0 !important;
}

*::-webkit-scrollbar {
    width: 12px !important;
    height: 12px !important;
}